.axure {
  margin: auto;
  max-width: 1440px;
  height: 325px;
  background: url("../img/bg/background\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 58px 0;
  position: relative;
}
.axure::after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.axure-title {
  position: relative;
  z-index: 3;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 34px;
  text-transform: uppercase;
}
.axure-title::after {
  content: "";
  display: block;
  border: 1px solid #ffffff;
  width: 64px;
  margin: 34px auto;
}
.axure-text p {
  position: relative;
  z-index: 3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 57px;
}
.axure-button {
  position: relative;
  z-index: 3;
  width: 135px;
  border: 1px solid #ffffff;
  margin: 0 auto;
  text-align: center;
  line-height: 42px;
}
.axure-button:hover {
  width: 150px;
  transition: 0.1s;
  border-radius: 7px;
  border-color: aqua;
  cursor: pointer;
}
.axure-button a {
  size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  height: 100%;
}
