.axure {
  background: url("../img/bg/background\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 58px 0 38px;
  position: relative;
}
.axure::after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* .axure-container {
  position: relative;
  z-index: 3;
} */
.axure-title {
  /* position: relative;
  z-index: 3; */
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  /* font-size: 36px; */
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 34px;
  text-transform: uppercase;
}
.axure-title::after {
  content: "";
  display: block;
  border: 0.5px solid #ffffff;
  width: 64px;
  margin: 34px auto;
}
.axure-text{
  margin-bottom: 57px;
}
.axure-text p {
  /* position: relative;
  z-index: 3; */
  color:rgba(255, 255, 255, 0.8);
  /* font-size: 16px; */
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
.axure-button {
  /* position: relative;
  z-index: 3; */
  width: 135px;
  border: 1px solid #ffffff;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  transition: 0.1s;
  animation: axure-pulse;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes axure-pulse{
  50%{
    transform: scale(1.1);
    border-radius: 7px;
    border-color: #adff2be0;
    box-shadow: 1px 1px 7px 2px rgb(173 255 43 / 88%);
  }
}
/* .axure-button:hover {
  transform: scale(1.1);
  border-radius: 7px;
  border-color: #adff2be0;
  transition: 0.1s;
} */
.axure-button a {
  font-family: "Open Sans", sans-serif;
  /* font-size: 15px; */
  font-size: 0.9375rem;
  font-weight: 600;
  color: #ffffff;
  display: block;
  height: 100%;
}
