.contact-title-text{
  margin-bottom: 91px;
}
.contact-title-text p {
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.contact-form-content {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  margin-bottom: 68px;
}
.form-data {
  width: 40%;
  margin: 0 15px;
}
.form-item {
  margin-bottom: 33px;
}
.form-item:last-child {
  margin-bottom: 0;
}
.form-item label {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display:block;
  margin-bottom: 14px;
}

.form-item input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.form-textarea {
  width: 40%;
  margin: 0 15px;
}
.form-textarea label {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  
}
.form-textarea textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 104px;
  resize: none;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-btn button {
  width: 166px;
  background: #ec7979;
  line-height: 42px;
  color: #ffffff;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
