.footer {
  padding: 30px 0 15px;
  background: #000000;
  
}
.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.footer-navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0 15px; */
  transition: 0.1s;
}
.footer-navigation-list-item:hover{
    cursor: pointer;
    transform: scale(1.9);
    transition: 0.1s;
}
.footer-navigation-list-item {
  margin-left: 30px;
  transition: 0.1s;
  cursor: pointer;
}
.footer-navigation-list-item:first-child {
  margin-left: 0px;
  cursor: pointer;
  transition: 0.1s;
}
.footer-navigation-list-item a {
  /* font-size: 20px; */
  font-size: 1.25rem;
  color: #abacaf;
}
.footer-author p {
  /* font-size: 12px; */
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  
}
.footer-navigation-list-item a:hover{
    color: #ffffff;
    transition: 0.1s;
}