.header {
  padding: 20px 0;
  background: #000000;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
.logo::after {
  content: "IT";
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ec7979;
  text-transform: uppercase;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
}
.navigation-list-item {
  margin-left: 48px;
  cursor: pointer;
}
.navigation-list-item:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.navigation-list-item a:hover {
    color: #ec7979;
    /* text-decoration: underline; */
    border-bottom: 3px solid #ec7979;
    transition: 0.1s;
    
  }
.navigation-list-item:first-child {
  margin-left: 0px;
  cursor: pointer;
}
.navigation-list-item a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 15px;
  /* line-height: 20px; */
  border-bottom: 3px solid #0c0c0c;
 
  
}
