.social {
  background: #f8efef;
  padding: 15px 0;
}
.social-description {
  width: 365px;
  margin: 0 15px;
}
.social-description-text p {
  /* font-size: 14px; */
  font-size: 0.875rem;
  font-weight: 400;
  color: #86878b;
  
}
.social-title {
  /* font-size: 20px; */
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 14px;
  color: #333333;
  line-height: 27px;
}

.social-navigation{
  margin: 0 15px;
}
.social-navigation-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-navigation-list-item {
  margin-left: 60px;
  transition: 0.1s;
}
.social-navigation-list-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.1s;
}
.social-navigation-list-item:first-child {
  margin-left: 0px;
  transition: 0.1s;
}
.social-navigation-list-item a {
  color: rgb(201, 201, 201);
  /* font-size: 40px; */
  font-size: 2.5rem;
}
.social-navigation-list-item a:hover {
  color: #ec7979;
  transition: 0.1s;
}
